/* start public style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 6000px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
 :root{
    --primary:#fa12aa;

 }

 .contact{
    margin-top: 100px;
 }
 
 .container{
    width: 100%;
     max-width: 1400px;
     padding: 0 50px;
     margin: 0 auto;
 }

 .row{
 display: flex;
 flex-wrap: wrap;
 /*justify-content: space-between;
 align-items: center;*/
}

.btn{
    border: 0;
    padding: 10px 5px;

}
/* end public style*/


/* strat header*/

 .header{
    padding: 45px 0;
    background-color: rgb(230, 230, 224);
    position: fixed;
    width: 100%;
}

  .header .container {
  max-width: 1200px; 
  margin: 0 auto;      
  padding: 0 24px;     
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
    




.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 36px;
}

.header input, .footer input{
    border: 0;
    padding-left: 5px;

}
.header button{
    border: 0;
    
    background-color:#FB2E86;
    display: flex;
    align-items: center;
   
}
.header form, .footer form{
    border:  2px solid #E7E6EF ;
    display: flex;
    
    
}
.header .list a { 

    transition:  1.1s;
}
.header .list a:hover{

    color: #fb2e2e;
    font-size: 30px;

}


   
.header .menu {
    display: none;
}


@media screen and (min-width:0) and (max-width:680px){

    body{
        background-color: #c3b4b4;

    }

    .header .list, 
    .header .form{
        display: none;
    }

      
 .header .menu {
    display: block;
}

}

/* end header*/


/* start footer*/
  
.footer{

    background-color: #E7E6EF;
    padding: 112px 0;
}

.footer .row{

    gap:100px;
}

.footer .left-side .form{

    margin-top: 37px;
    margin-bottom: 24px;
}
.footer .left-side{
    width: calc((100%-95px)/2);
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     
}

 .footer .right-side{
    width: calc((100%-95px)/2);


}

.footer .footer-items
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 46px;
}

.footer .footer-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23px;;
}

.footer .right-side .row{

    align-items:flex-start;
}

@media screen and (min-width:0) and (max-width:680){

    .footer .left-side, .footer .right-side{

        width: 100%;
    }
}

/*End footer*/




    
